//barbershop-bg-colors
$bg-grad-1: #358ac7;
$bg-grad-2: #7474bf;

$con-after-1: #317eb5;
$con-after-2: #00e5d3;

//font-colors
$con-font: #fff;
$heading-font: #fff;
$link-color: #fff;
$btn-font: #fff;
$btn-action-font: #09c;

//shadows
$text-shadow-1: #000;
$box-shadow-1: #000;

$onoffswitch-bg: #fff;
$onoffswitch-grad-1: #fff;
$onoffswitch-grad-2: #dedddd;
$onoffswitch-check: #fff;

//btn
$btn-action: #fff;
$btn-border: #fff;
$btn-shadow: #000;
$btn-active-border: #09c;
$btn-active-bg: #09c;

//bars
$bar: #fff;
